<form ng-submit="save()">
  <p>
    <input
      ng-model="note.title"
      type="text"
      name="title"
      id="note_title"
      placeholder="Title your note">
  </p>
  <p>
    <text-angular
      ng-model="note.body_html"
      name="body_html"
      placeholder="Just start typing..."
      ta-toolbar="[
        ['bold', 'italics', 'underline'],
        ['ul', 'ol', 'indent', 'outdent'],
        ['html'],
        ['insertLink']]"
      ></text-angular>
  </p>
  <div class="form-actions">
    <input
      type="submit"
      name="commit"
      value="Save"
      class="btn btn-default">
    <a ng-click="delete()" ng-show="note._id">
      <i class="fa fa-trash-o"></i>
    </a>
  </div>
</form>
